Repository QuinoaDao/protocol-v1, pull requests merged in 2023-01, with the labels that each got.

#15 Swap contract 개발
  contracts/ISwapModule.sol
  contracts/SwapModule.sol
  hardhat.config.ts
  package.json
  yarn.lock
Labels: 재연, smart contract, feat

#16 Feat/vault logic
  contracts/IProduct.sol
  contracts/IStrategy.sol
  contracts/Product.sol
  contracts/UsdPriceModule.sol
  contracts/libraries/ChainlinkGateway.sol
Labels: 민균, smart contract, feat, fix

#17 7 vault rebalancing
  contracts/IProduct.sol
  contracts/Product.sol
Labels: 우혁, smart contract, feat
