Repository QuinoaDao/protocol-v1, pull requests merged in 2023-02, with the labels that each got.

#22 add checkUpKeep, performUpKeep, and related variables
  contracts/Product.sol
Labels: feat

#25 Feat/contract test
  abis/ghstABI.json
  abis/quickABI.json
  abis/quickSwapABI.json
  abis/usdcABI.json
  abis/wEthABI.json
  abis/wMaticABI.json
  contracts/IProduct.sol
  contracts/Product.sol
  contracts/Strategy.sol
  contracts/SwapModule.sol
  contracts/UsdPriceModule.sol
  hardhat.config.ts
  package.json
  scripts/deployWithMumbai.ts
  test/Lock.ts
  test/Product.ts
  test/ProductCrowdDepositTest.ts
  test/ProductCrowdDepositTest2.ts
  test/ProductRebalanceTest.ts
  test/ProductRebalanceTest2.ts
  test/ProductTest.ts
  test/ProductUsdcDepositTest.ts
  test/ProductWethDepositTest.ts
  test/ProductWmaticDepositTest.ts
  tsconfig.json
  yarn.lock
Labels: 민균, smart contract, feat, fix, test

#27 Feat/rebalancing test
  contracts/Product.sol
  contracts/SwapModule.sol
  hardhat.config.ts
  makeCSV.py
  test/ProductCrowdDepositTest.ts
  test/ProductCrowdDepositTest2.ts
  test/ProductRebalanceTest.ts
  test/ProductRebalanceTest2.ts
  test/ProductTest.ts
  test/ProductUsdcDepositTest.ts
  test/ProductWethDepositTest.ts
  test/ProductWmaticDepositTest.ts
  test/test0.ts
  test/test1.ts
  test/test2.ts
  test/test3.ts
  test/test4.ts
  test/test5.ts
  test/test6.ts
Labels: 민균, smart contract, fix, test

#28 Feat/rebalancing test
  hardhat.config.ts
  test/ProductCrowdDepositTest2.ts
  test/ProductRebalanceTest2.ts
  test/test1.ts
  test/test2.ts
  test/test3.ts
  test/test4.ts
  test/test5.ts
  test/test6.ts
Labels: smart contract, test

#29 Feat/add whitelist
  contracts/IUsdPriceModule.sol
  contracts/Product.sol
  contracts/UsdPriceModule.sol
  contracts/WhitelistRegistry.sol
  hardhat.config.ts
  test/ProductCrowdDepositTest.ts
  test/ProductCrowdDepositTest2.ts
  test/ProductRebalanceTest.ts
  test/ProductRebalanceTest2.ts
  test/ProductTest.ts
  test/ProductUsdcDepositTest.ts
  test/ProductWethDepositTest.ts
  test/ProductWmaticDepositTest.ts
  test/WhitelistRegistryTest.ts
  test/test0.ts
  test/test1.ts
  test/test2.ts
  test/test3.ts
  test/test4.ts
  test/test5.ts
  test/test6.ts
  test/utils.ts
Labels: smart contract, feat, test

#30 Rebalancing test in mumbai
  abis/quickSwapFactoryABI.json
  abis/quickSwapRouterABI.json
  contracts/test/TestToken.sol
  contracts/test/TestUsdc.sol
  scripts/deployWithMumbai.ts
  scripts/testWithMumbai.ts
Labels: 민균, test
